
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Chat</title>

<script>
	
</script>

</head>
<body>
<form method="get" action="/login">
	<section class="vh-100" style="background-color: white;">
		<div class="container h-100">
			<div
				class="row d-flex justify-content-center align-items-center h-100">
				<div class="col-xl-9">
					<h1 class="text-white mb-4">Data in Session</h1>

					<div class="card" style="border-radius: 15px;">
						<div class="card-body">
							<div class="row align-items-center pt-4 pb-3">
								<div class="col-md-3 ps-5">
									<h6 class="mb-0">senderId</h6>
								</div>
								<div class="col-md-9 pe-5">
									<input type="text" name="senderId" />
								</div>
							</div>
							
							<div class="row align-items-center py-3">
								<div class="col-md-3 ps-5">
									<h6 class="mb-0">recevierId</h6>
								</div>
								<div class="col-md-9 pe-5">
									<input type="text" name="recevierId" />
								</div>
							</div>
							<div class="row align-items-center py-3">
								<div class="col-md-3 ps-5">
									<h6 class="mb-0">senderName</h6>
								</div>
								<div class="col-md-9 pe-5">
									<input type="text" name="senderName" />
								</div>
							</div>


							<div class="row align-items-center py-3">
								<div class="col-md-3 ps-5">
									<h6 class="mb-0">recevierName</h6>
								</div>
								<div class="col-md-9 pe-5">
									<input type="text" name="recevierName" />
								</div>
							</div>

							<div class="row align-items-center py-3">
								<div class="col-md-3 ps-5">
									<h6 class="mb-0">channel</h6>
								</div>
								<div class="col-md-9 pe-5">
									<input type="text" name="channel" />
								</div>
							</div>
							
							<div class="px-5 py-4">
								<input type="submit" value="登入">
							</div>

						</div>
					</div>

				</div>
			</div>
		</div>
	</section>
</form>
<!-- 					<form method="get" action="/login"> -->
<!-- 						<div align='center'> -->
<!-- 							senderId:<input type="text" name="senderId" /><br /> <hr> -->
<!-- 							recevierId:<input type="text" name="recevierId" /><br /> <hr> -->
<!-- 							senderName:<input type="text" name="senderName" /><br /> <hr> -->
<!-- 							recevierName:<input type="text" name="recevierName" /><br /> <hr> -->
<!-- 							channel:<input type="text" name="channel" /> <br /><hr> -->
<!-- 							<br /> <input type="submit" value="登入"> -->
<!-- 						</div> -->
<!-- 					</form> -->

</body>
</html>